.content table {
    margin: 0 auto;
    width: 80%;
}

.academies-table {
    max-width: 1000px;
}

.academies-table tr {
    height: 150px
}


.academies-table img {
    max-width: 100px;
}

.academies-table .biggerAcaImg {
    max-width: 180px;
}